@model StudentViewModel

@{
	ViewData["Title"] = "Add Student";
}

<h1>Add</h1>

<h4>Student</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-controller="Students" asp-action="Create" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="ActiveStudent.FirstName" class="control-label"></label>
				<input asp-for="ActiveStudent.FirstName" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="ActiveStudent.LastName" class="control-label"></label>
				<input asp-for="ActiveStudent.LastName" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="ActiveStudent.DateOfBirth" class="control-label"></label>
				<input asp-for="ActiveStudent.DateOfBirth" type="text" id="datepicker" class="form-control" placeholder="MM/dd/YYYY" /> @*textbox used for jqueryui datepicker*@
			</div>
			<div class="form-group">
				<label asp-for="ActiveStudent.GPA" class="control-label"></label>
				<input asp-for="ActiveStudent.GPA" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="ActiveStudent.SchoolProgramID">Program</label>
				<select asp-for="ActiveStudent.SchoolProgramID" class="form-control">
					<option value="">Select a program of study..</option>
					@foreach (SchoolProgram program in Model.Programs) @*add each program in programs list into dropdown list as an option*@
					{
						<option value="@program.SchoolProgramID">@program.SchoolProgramName</option>
					}
				</select>
			</div>
			<br />
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Add student</button>
				<a asp-controller="Students" asp-action="List" class="btn btn-primary">Cancel</a>
			</div>
		</form>
	</div>
</div>



<script>
	$("#datepicker").datepicker({
		maxDate: "-0",
		yearRange: "-80:+0",
		dateFormat: "mm/dd/yy",
		constrainInput: true,
		timePicker: false,
		changeMonth: true,
		changeYear: true
	}
	).datepicker("setDate", new Date()); /*sets selected date in datepicker to the current date*/
</script>